#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#hello-container{  
    font-size: 2vh; 
    margin-top: 2px; 
    margin-bottom: 2px; 
}
