body, html {
    height: 100%;
}

section {
    height: 100%;
    position: relative;
}

.owl-carousel{
    position: absolute;
    top: 25%;
}

.owl-item{
    letter-spacing: 2px;
    font-size: 2.5vh;
}

.item-wrapper{
    padding: 10%;
    height: 40vh;
}
